<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/<%= style%>" />
    <title><%= title %></title>
  </head>
  <body>  
    <nav>
        <a href="/" <%- title === 'Welcome' ? 'class="active"' : '' %>>Home</a>
        <a href="/blogs/All" <%- title === 'All Blogs' ? 'class="active"' : '' %>>All Blogs</a>
        <a href="/blogs/new" <%- title === 'Create Blog' ? 'class="active"' : '' %>>Create Blog</a>
        <a href="/users">profile</a>
        
    </nav>
  
